html, body {
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.leaflet-container {
    z-index: 0;
    height: 75vh;
}

.circle {
    border-radius: 50%;
    text-align: center;
}

.bike {
    background: rgba(255, 110, 0, 0.7);
}

.car {
    background: rgba(168, 166, 50, 0.7);
}

.ped {
    background: rgba(168, 50, 50, 0.7);
}

.other {
    background: rgba(0, 0, 0, 0.7);
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}
