html, body {
    height: 100%;
    margin-left: 2%;
    margin-right: 2%;
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#map {
    z-index: 0;
    height: 75vh;
}

#tabs-with-content .tabs:not(:last-child) {
  margin-bottom: 0;
}

#tabs-with-content .tab-content {
  padding: 1rem;
  display: none;
}

#tabs-with-content .tab-content.is-active {
  display: block;
}

.check {
    visibility: hidden;
}

.is-selected .check {
    visibility: visible;
}